@import "../../Styles/main.scss";

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 400px;
	border: 1px solid $gray;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form h2 {
	text-transform: uppercase;
}

input#title {
	margin-bottom: 10px;
	width: $input-text-w;
	border-radius: $input-text-radius;
	outline: none;
	border: $input-text-border;
	padding: $input-text-p;
	font-family: $font-popins;
	text-indent: 10px;
}

textarea {
	font-family: $font-popins;
	margin-bottom: 30px;
	padding: 10px;
	resize: none;
	width: $input-text-w;
	outline: none;
	border: $input-text-border;
	padding: $input-text-p;
	text-align: left;
}

button {
	width: $btn-w;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	transition: all 0.5s;
}

button:hover {
	background-color: rgb(211, 208, 208);
}

label {
	font-family: $font-roboto;
	margin-bottom: 5px;
	display: block;
}

.input-group {
	width: 100%;
}
