@import "../../Styles/main.scss";
.container {
	width: $container;
}

.card-wrapper {
	margin-top: 50px;
	width: $container;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}
