@import "../../Styles/main.scss";

nav {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $white-gray;
}

.logo {
	width: $logo;
	cursor: pointer;
}
