h1 {
	text-align: center;
	font-family: $font-roboto;
}
h2 {
	padding: 0 10px;
	font-family: $font-roboto;
}
h3 {
	padding: 0 10px;
	font-family: $font-roboto;
}
h4 {
	padding: 0 10px;
	font-family: $font-roboto;
}

h5 {
	padding: 0 10px;
	font-family: $font-roboto;
}

p {
	font-family: $font-popins;
	overflow: hidden;
	width: 100%;
	padding: 0 10px;
}
